:root {
    --cor0: #879C96;
    --cor1: #FFFFFF;
    --cor2: #E2E9E7;
    --cor3: #9C8078;
    --cor4: #E8E3E1;
    --cor5: #333;
}

* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;

}

body {
    background-color: #E2E9E7;
    font-family     : Arial, Helvetica, sans-serif;
    color           : #E2E9E7;
    max-width       : 1160px;
    margin          : auto;

}

header .containerbrasa {

    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : space-between;
    padding-right   : 45px;
    background-color: rgba(0, 0, 0, 0.911);



}

header .logo {

    margin-left: 70px;
    color      : #e9e2e2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size  : 50px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.links a {
    text-decoration: none;
    color          : #879C96;
    margin-right   : 10px;
    font-size      : 18px;
}

.links a:hover {

    background   : white;
    color        : #333;
    border-radius: 3px;
}




.img {

    background-image : url(../assets/fundo_de_madeira.png);
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 550px;
    display          : flex;
    overflow         : hidden;
}

.sobre_site {
    padding-left: 30px;
    padding-top : 150px;



}

.texto {
    font-size     : 40px;
    padding-bottom: 15px;
    padding-left  : 50px;
    text-shadow   : 1px 1px rgb(0, 0, 0);
    text-shadow   : 1px 1px rgb(0, 0, 0);

}

.paragrafo {
    font-size              : 25px;
    max-width              : 600px;
    text-align             : justify;
    background-color       : #ffffff28;
    background             : rgba(255, 255, 255, 0.1);
    backdrop-filter        : blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-shadow            : 1px 1px rgb(0, 0, 0);


}

.imgnav {
    margin-left      : 70px;
    margin-top       : 80px;
    width            : 400px;
    height           : 400px;
    background-image : url(../assets/churrasco01.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    border-radius    : 50%;
    border           : 3px solid #E2E9E7;

}
.imgnav:hover{
    border-radius    : 50%;
    border           : 3px solid #000000;
}

.segundaimg {
    background-image : url(../assets/fundo_de_madeira.png);
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 1050px;
    display          : flex;
    overflow         : hidden;
    position         : relative;

}

.trespropagandas {
    display      : flex;
    margin-right : 30px;
    margin-left  : 33px;
    height       : 250px;
    width        : 250px;
    border-radius: 10%;
    transform    : translate(50%, 50%);



}


#primeiroqua {
    background-image : url(../assets/west.png);
    background-repeat: no-repeat;
    background-size  : cover;

}

#primeiroqua:hover {
    background-image: url(../assets/west-removebg-vermelho.png);
    
}

#segundoqua {
    background-image   : url(../assets/iffod.png);
    background-position: center;
    background-size    : cover;
}

#segundoqua:hover {
    background-image: url(../assets/iffod-removebg-amarelo.png);
}

#terceiroqua {
    background-image     : url(../assets/maturata-removebg-amarela.png);
    background-position  : center;
    background-position-x: 47%;
    background-size      : cover;
}

#terceiroqua:hover {
    background-image: url(../assets/maturata-removebg-vermelho.png);
}

.h2parceiros {
    position    : absolute;
    padding-left: 42%;
    padding-top : 20px;
    font-size   : 45px;
    text-shadow : 1px 1px rgb(0, 0, 0);
}

.churrascometro {
    margin-left: 390px;
    margin-top : 450px;
    position   : absolute;

}



.container {
    max-width: 600px;


}

.container {
    font-family            : Arial, Helvetica, sans-serif;
    max-width              : 600px;
    margin                 : auto;
    padding                : 50px;
    border-radius          : 15px;
    background             : rgba(255, 255, 255, 0.1);
    backdrop-filter        : blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-shadow            : 1px 1px rgb(0, 0, 0);


}

.container>h1 {
    padding-bottom: 30px;
    margin-left   : 20px;
    font-size     : 33px;
}

input {
    width        : 300px;
    display      : block;
    padding      : 15px;
    box-sizing   : border-box;
    margin-bottom: 15px;
    font-size    : 15px;

}

.button {
    width    : 300px;
    height   : 50px;
    font-size: 15px;
}

.button:hover {
    background: #333;
    color     : white;
    font-size : 15px;
}

#resultado {
    font-size  : 24px;
    padding    : 18px;
    text-shadow: 1px 1px rgb(0, 0, 0);


}

footer {
    height          : 120px;
    margin          : auto;
    background-color: black;
    
}

.infpessoais {
    height          : 30px;
    margin          : auto;
    background-color: rgb(29, 29, 29);
    
}

.sidneysiqueira {
    margin-left: 500px;
    color      : rgba(255, 255, 255, 0.466);


}

.linksredessociais {
    text-align: right;
    padding   : 20px;

}
.linksredessociais>p{
    float: left;
    font-size: 20px;
    margin-top: 5px;
}
.linkicones {
    padding: 15px;
}