* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;

}

body {

    background-color: #1d311c48;
    font-family     : Arial, Helvetica, sans-serif;
    color           : #E2E9E7;
    max-width       : 1160px;
    margin          : auto;


}

header .containerbrasa {
    box-shadow      : 13px 5px 13px black;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : space-between;
    padding-right   : 45px;
    background-color: rgba(0, 0, 0, 0.911);



}

header .logo {
    margin-left: 70px;
    color      : #e9e2e2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size  : 50px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.containerbrasa>a {
    text-decoration: none;
}

.links a {
    text-decoration: none;
    color          : #879C96;
    margin-right   : 10px;
    font-size      : 18px;
}

.links a:hover {

    background   : white;
    color        : #333;
    border-radius: 3px;
}

.abasdovideo {
    margin-bottom   : 20px;
    background      : linear-gradient(rgba(228, 228, 228, 0.1), rgba(0, 0, 0, .80)100%);
    border-radius   : 10px;
    margin-top      : 20px;
    right           : 100px;
    height          : 400px;
    background-color: rgb(255, 255, 255);
}




footer {
    height          : 120px;
    margin          : auto;
    background-color: black;

}

.infpessoais {
    height          : 30px;
    margin          : auto;
    background-color: rgb(29, 29, 29);

}

.sidneysiqueira {
    margin-left: 500px;
    color      : rgba(255, 255, 255, 0.466);


}

.linksredessociais {
    text-align: right;
    padding   : 20px;

}

.linksredessociais>p {
    float     : left;
    font-size : 20px;
    margin-top: 5px;
}

.linkicones {
    padding: 15px;
}