* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(54, 53, 53, 0.5), rgba(0, 0, 0, .50)100%), url(/assets/fundo_de_madeira1.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #E2E9E7;
    max-width: 1160px;
    margin: auto;
}

header .containerbrasa {
    box-shadow: 13px 5px 13px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 45px;
    background-color: rgba(0, 0, 0, 0.911);
    margin-bottom: 40px;
}

header .logo {
    margin-left: 70px;
    color: #e9e2e2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.containerbrasa>a {
    text-decoration: none;
}

.links a {
    text-decoration: none;
    color: #879C96;
    margin-right: 10px;
    font-size: 18px;
}

.links a:hover {
    background: white;
    color: #333;
    border-radius: 3px;
}

.quadradocheio {
    height: 900px;
    background-color: white;
    border-radius: 200px;
}

.imagens >img{
    height: 750px;
    padding-left: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.quadradovideo {
    margin-top: 60px;
    height: 420px;
    width: 1275px;
    background-color: rgb(29, 29, 29);
    margin-left: -60px;
    position: relative;
}

.quadradoquadrado {
    margin-top: 10px;
    height: 400px;
    width: 1275px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}

.quadradoquadrado>iframe {
    margin-left: 300PX;
    padding-top: 5px;
}


footer {
    box-shadow: 13px 5px 13px black;
    height: 130px;
    margin: auto;
    margin-top: 40px;
    background-color: black;
}

.infpessoais {
    height: 30px;
    margin: auto;
    background-color: rgb(29, 29, 29);
}

.sidneysiqueira {
    margin-left: 500px;
    color: rgba(255, 255, 255, 0.466);
}

.linksredessociais {
    text-align: right;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.linksredessociais>p {
    float: left;
    font-size: 20px;
    margin-top: 5px;
}

.linkicones {
    padding: 15px;
}

@media screen and (max-width: 420px) {
    body{
        
        max-height: 900px;
        box-sizing: border-box;
    }
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    header .containerbrasa {
        display: block;
        text-align: center;
    }
    header .logo {
        margin-left: 40px;
        font-size: 35px;
    }
    .links a {
        margin: -0.1px;
        font-size: 20px;
        padding-left: 17px;
    }
    .quadradocheio {    
        height: 200px;
        max-width: 400px;
        border-radius: 60px;
    }
    .imagens >img{   
        
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .quadradovideo {
        margin-top: 60px;
        height: 270px;
        width: 400px;
        background-color: rgb(29, 29, 29);
        margin-left: -60px;
        position: relative;
    }
    .quadradoquadrado {
        margin-top: 10px;       
        height: 250px;
        width: 390px;
        background-color: rgb(0, 0, 0);
        position: absolute;
    }
    
    .quadradoquadrado>iframe {
        height: 230px;
        width: 280px;
     
        margin-left: 80PX;
        padding-top: 2px;
    }
    



    footer {
        max-width: 400px;
        height: 170px;        
        margin-top: 180px;
        
    }
    
    
    
    .sidneysiqueira {
        margin-left: 80px;
    }
    .linksredessociais {
        text-align: center;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    
    .linksredessociais>p {
        float: left;
        font-size: 15px;
        margin-top: 5px;
    }
    
    .linkicones {
        padding: 10px;
        
    }
}